<% if @exists %>
  <% @exists = nil %>
  <h5>Movie Already Nominated!</h5>>
  <%= button_to "Search Again", search_index_path, method: :get %>
<% else%>
  <h1>NOMINATIONS</h1>
  <% nominated = @nominations %>
  <% p nominated %>
  <% if nominated.length > 0 %>
    <% nominated.each_with_index do |movie, i| %>
      <% if nominated[i] != nil %>
        <div>
          <% if nominated[i]["Poster"] != "N/A" %>
            <%= image_tag(nominated[i]["Poster"], style: 'height:25%;width:auto;') %>
          <% end %>
          <%= nominated[i]["Title"] %>
          <%= nominated[i]["Year"] %>
          <%= nominated[i]["Production"]%>
          <%= nominated[i]["Awards"]%>
        <div>
        <p><%= nominated[i]["Plot"] %></p>
      <% end %>
    <% end %>
  <% else %>
    <h5>No Nominations Yet</h5>
  <% end %>
  <%= button_to "Search OMDB", search_index_path, method: :get %>
<% end %>
