<main>
  <body class="bg">
    <div class="text-center text-success">
      <%= button_to "Clear All Nominations", nominations_clear_path, class: "btn btn-dark btn-lg", method: :delete %>
      <h1 class="display-3">NOMINATIONS</h1>

      <% nominated = [] %>
      <% if @nominations && @nominations.length > 0 %>
        <% @nominations.each do |entry| %>
          <% movie = entry["movie"].to_hash %>
          <% nominated.push(movie) %>
        <% end %>
        <% nominated.each_with_index do |movie, i| %>
          <% if nominated[i] != nil %>
            <div class="nom">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                Summary
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        <%= "#{nominated[i]["Title"]}" %>
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= nominated[i]["Plot"] %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <%= button_to "Remove Nomination", nominations_clear_path, params: {format: nominated[i]["Title"]}, method: :delete %>
              <div>
                <% if nominated[i]["Poster"] != "N/A" %>
                  <%= image_tag(nominated[i]["Poster"], style: 'height:25%;width:auto;') %>
                <% end %>
              </div>
              <p>
                <strong><%= "Year: "%></strong><%= "#{nominated[i]["Year"]}  " %>
                <strong><%= "Studio: "%></strong><%= "#{nominated[i]["Production"]}.  " %>
                <strong><%= "Awards: "%></strong><%= "#{nominated[i]["Awards"]}." %>
              </p>
            <div>
          <% end %>
        <% end %>
      <% else %>
        <h5>No Nominations Yet</h5>
      <% end %>
      <%= button_to "Search OMDB", search_index_path, class: "btn btn-dark btn-lg", method: :get %>
    </div>
  </body>
</main>